* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  font-size: 20px;
  font-weight: 600;
  color: #005fac;
  background-color: white;
  height: 64px;
  width: 160px;
  border: none;
  border-radius: 10px;
}

/* Header Style */
.main-header {
  background-image: url("./images/banner/banner3.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.main-header div {
  text-align: right;
  margin-left: 400px;
}

.second {
  width: 845px;
}
.main-header div h1 {
  font-size: 65px;
  font-weight: 700;
  text-align: right;
  padding: 216px 230px 0 0;
}
.main-header div p {
  text-align: right;
  padding: 0 230px 0 0;
  margin: 24px 0 32px 0;
}
.btn-div {
  width: 215px;
}

/* Failure Section */
.failure-div {
  max-width: 1070px;
  display: flex;
  justify-content: space-between;
  margin: 130px auto;
  height: 100vh;
  align-items: center;
  gap: 85px;
}
.failure-context h1 {
  font-size: 40px;
  font-weight: 700;
}
.failure-context p {
  color: #444343;
  margin-top: 24px;
  margin-bottom: 20px;
}
.failure-context ul li {
  margin-bottom: 10px;
}
/* Plan section  */
.plan-section h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 130px;
  margin-bottom: 50px;
  text-align: center;
}
.my-plans {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  text-align: center;
  margin: 0 auto;
}
.my-plans h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 30;
  font-weight: 700;
}
.my-plans p {
  color: #444343;
}

/* Positive Mindset */
.positive-mindset {
  width: 1070px;
  height: 300px;
  background-image: linear-gradient(to right, rgba(120, 100, 150, 0.9) 20%, rgba(0, 0, 0, 0.2) 100%),
    url("./images/watch.png");
  margin: 50px auto;
}
.positive-mindset div {
  text-align: left;
  color: white;
  padding: 59px 65px 0;
}
.positive-mindset div h1 {
  margin-bottom: 24px;
  font-size: 40px;
}
